*{
    margin: 0px;
    padding: 0px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    background-color: Indigo;
    color: #e6e6fa;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 15px;
    position: sticky;
    top: 0;
}
nav ul{
    width: 60%;
    align-self: center;
    text-align: right;
    margin-right: 5%;
}

nav ul a{
    text-decoration: none;
    color: lavender;
    padding: 15px 20px;
    font-size: 17px;
}

a:hover{
    background-color: lavender;
    color: indigo;
    border-radius: 5px;
}

.title{
    font-family: 'Kaushan Script', cursive;
    font-size: 2vw;
    width: 30%;
    align-self: center;
    text-align: left;
    margin-left: 5%;
}

header{
    background-image: url("img/img1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: indigo;
    vertical-align: center;
    padding: 150px;
}

.name{
    font-family: 'Kaushan Script', cursive;
    font-size: 10vw;
}

.info{
    font-size: 2.5vw;
}

.about{
    border: 3px solid indigo;
    background-color: white;
    padding: 60px;
    margin: 30px;
    color: indigo;
    font-size: 2vw;
}

.about h2{
    font-family: 'Kaushan Script', cursive;
    font-size: 4vw;
}

.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #c1a8ea78;
    color: indigo;
    padding: 60px 0px;
}

.box{
    box-shadow: 5px 5px 8px 7px #C3C3C3;
    width: 40%;
    padding: 30px;
    border-radius: 10px;
    margin: 30px;
}

.box:hover{
    background-color: indigo;
    color: lavender;
}

.row h2{
    font-family: 'Kaushan Script', cursive;
    font-size: 30px;
}

#msg {
    border: 3px solid indigo;
    background-color: white;
    padding: 60px;
    margin: 30px;
    color: indigo;
    font-size: 2vw;
}

#msg h2 {
    font-family: 'Kaushan Script', cursive;
    font-size: 4vw;
}

#inp{
    width: 30%;
    padding: 10px;
    text-align: left;
}

#button{
    background-color: indigo;
    color: lavender;
    padding: 10px 20px;
    border: 2px solid indigo;
    border-radius: 5px;
}

#button:hover{
    box-shadow: 5px 5px 8px 7px #C3C3C3;
    font-weight: bold;
}

footer{
    display: flex;
    flex-direction: column;
}

.contact{
    background-color: #c1a8ea78;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 70px;
    color: indigo;
}

/* .line{
    margin: 40px auto;
    color: lavender;
    width: 100%;
    border-bottom: 2px solid lavender;
} */

.foot{
    color: lavender;
    background-color: indigo;
    padding: 100px;
}
